*{
    margin:0;
    padding:0;
}
body{
    background-color:rgb(174, 140, 239);
    font-family:Arial;
}
.navbar{
    background-color:rgb(0, 8, 15);
    color:white;
    padding:15px;
}
.navbar h2{
    display:inline;
}
.navbar ul{
    list-style:none;
    margin-top:10px;
}
.navbar ul li{
    display:inline;
    margin-right:20px;
}
.navbar ul li a{
    color:white;
    text-decoration:none;
}
.navbar ul li a:hover{
    color:yellow;
}
.home{
    margin:30px;
}
.home h1{
    color:crimson;
    margin-bottom:15px;
}
.home p{
    margin-bottom:20px;
    line-height:25px;
}
.home button{
    padding:10px;
    width:120px;
    background-color:green;
    color:white;
    border:none;
}
.home button:hover{
    background-color:orange;
    cursor:pointer;
}
.move{
    margin:30px;
}
.box{
    width:60px;
    height:60px;
    background:red;
    animation: movebox 7s infinite;
}
.color{
    margin:30px;
}
.rgb{
    width:120px;
    height:120px;
    background:red;
    margin-top:20px;
    animation:rgbcolor 4s infinite;
}
.scale{
    margin:30px;
}
.scalebox{
    width:100px;
    height:100px;
    background:rgb(97, 97, 200);
    margin-top:20px;
    animation: scalebox 7s infinite;
}
.rotate{
    margin:30px;
}
.rotatebox{
    width:100px;
    height:100px;
    background:orange;
    margin-top:20px;
    animation:rotatebox 3s infinite linear;
}
.bounce{
    margin:30px;
}
.ball{
    width:70px;
    height:70px;
    background:green;
    border-radius:50%;
    margin-top:20px;
    animation:bounce 2s infinite;
}
.buttons{
    margin:30px;
}
.buttons button{
    padding:10px;
    margin-right:15px;
    border:none;
    color:white;
}
.btn1{
    background:blue;
}
.btn2{
    background:green;
}
.btn3{
    background:red;
}
.btn1:hover{
    background:black;
}
.btn2:hover{
    background:orange;
}
.btn3:hover{
    background:purple;
}
.hoverbox{
    margin:30px;
}
.box1,
.box2,
.box3{
    width:120px;
    height:120px;
    border:2px solid black;
    display:inline-block;
    text-align:center;
    line-height:120px;
    margin-right:20px;
    margin-top:20px;
}
.box1:hover{
    background:red;
    color:white;
}
.box2:hover{
    background:green;
    color:white;
}
.box3:hover{
    background:blue;
    color:white;
}
.fixed{
    position:fixed;
    right:20px;
    bottom:20px;
}
.fixed a{
    background:blue;
    color:white;
    padding:12px;
    text-decoration:none;
}
.fixed a:hover{
    background:red;
}
footer{
    margin-top:40px;
    background:rgb(0, 0, 0);
    color:white;
    text-align:center;
    padding:20px;
}
@keyframes movebox{
    0%{
        transform:translateX(0px);
    }
    50%{
        transform:translateX(630px);
    }
    100%{
        transform:translateX(0px);
    }
}
@keyframes rgbcolor{
    0%{
        background:red;
    }
    25%{
        background:yellow;
    }
    50%{
        background:green;
    }
    75%{
        background:blue;
    }
    100%{
        background:red;
    }
}
@keyframes scalebox{
    0%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.3);
    }
    100%{
        transform:scale(1);
    }
}
@keyframes rotatebox{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}
@keyframes bounce{
    0%{
        transform:translateY(0px);
    }
    50%{
        transform:translateY(-60px);
    }
    100%{
        transform:translateY(0px);
    }
}
@media screen and (max-width:768px){
    .navbar ul li{
        display:block;
        margin-top:10px;
    }
    .line{
        width:100%;
    }
    .box1,
    .box2,
    .box3{
        display:block;
        margin-bottom:20px;
    }
    .buttons button{
        display:block;
        margin-top:10px;
    }

}